.rsvp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 2em auto;
}

.rsvp form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.select-name{
    width: 300px;
    display: block;
}

.confirm-rsvp{
    margin: 1em auto;
    padding: 0 1em;
    height: auto;
}

.ant-select-selection-selected-value, .ant-select-selection__placeholder{
    font-size: 2em;
}

.ant-btn.tangerine.confirm-rsvp.ant-btn-lg{
    font-size: 1.1em;
    margin: 1em auto;
}

@media 
